@use "../mixins/variables" as *;
@use "../mixins/mixin" as *;

.c-post-categories{
    background: #F4F6F8;
    padding-top: 20px !important;
    padding-bottom: 20px;
    h2{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        letter-spacing: 0.09em;
        line-height: 1.2;
        border-left: 8px  solid $theme-color;
        padding-left: 30px;
        &.kwd{
            margin-top: 42px;
            border-color: $point-color01;
        }

    }
    
    ul{
        display: flex;
        align-items: center;
        flex-wrap:wrap;
       
       
    }
    .more{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        gap:13px;
        position: relative;
        &::before{
            content:"";
            display: block;
            width: 32px;
            height: 32px;
            background: url(../img/renew/page/case/tag-more.svg) no-repeat center / cover;
            transition: all .3s ease;
        }
        &:hover{
            color: $point-color01;
        }
        &.active{
            &::before{
                transform: rotate(180deg);
            }
        }

    }
    .js-tag-list li {
        display: none;
      }
      
      .js-tag-list li:nth-child(-n+30) {
        display: inline-block;
      }
      
      .js-tag-list.show-all li {
        display: inline-block;
      }
      
      .tag-more-toggle {
        cursor: pointer;
        border: none;
        background: none;
        margin: auto;
      }
      
}