@use "../../foundation/settings" as *;
/*================================
  SCSS Information
----------------------------------
  File name: _list.scss
  Summary:   リスト用ファイル
  Author:    coder-ao
================================*/

/* リスト */
.c-list {
  $block: #{&};
  &.--sup {
    counter-reset: number;
    font-size: 0.83em;
  }
  & > li {
    padding-left: 1em;
    position: relative;
    &::before {
      content: '・';
      position: absolute;
      top: 0;
      left: 0;
    }
    a:not([class]) {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &.--sup > li {
    counter-increment: number;
    padding-left: 0;
    display: flex;
    align-items: flex-start;
    gap: 4px;
    &::before {
      content: '※'counter(number);
      font-size: 10px;
      position: relative;
      top: 0.2em;
    }
  }
}

.c-checkListBlock {
  padding: 32px 40px;
  border: 1px solid $color-black;
  border-radius: 10px;
  background: $color-white;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: calc(32 / 20);
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  &:not(:first-child) {
    margin-top: 36px;
  }
  @include mq() {
    padding: $marginSP-LR*2 $marginSP-LR;
    font-size: 18px;
  }
}
.c-checkList {
  & > li {
    padding-left: calc(#{em(22, 20)} + 16px);
    position: relative;
    &::before {
      content: '';
      width: em(22, 20);
      aspect-ratio: 1 / 1;
      background: url(../img/common/icon_check.svg) center no-repeat;
      background-size: auto 100%;
      position: absolute;
      top: 0.2em;
      left: 0;
    }
    &:not(:last-child) {
      margin-bottom: 1em;
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
      // &:visited {
      //   color: $color-visited-bright;
      // }
    }
  }
}
