# /transix/overview.htmlから/transix/へのリダイレクト
RewriteRule ^transix/overview\.html$ /transix/ [R=301,L]

# /transix/dslite/dslite.htmlから/transix/dslite/へのリダイレクト
RewriteRule ^transix/dslite/dslite\.html$ /transix/dslite/ [R=301,L]

# /transix/faq/enduser/index.htmlから/transix/faq/enduser/へのリダイレクト
RewriteRule ^transix/faq/enduser/index\.html$ /transix/faq/#users [R=301,L,NE]

# /transix/faq/glossary.htmlから/transix/faq/glossary/へのリダイレクト
RewriteRule ^transix/faq/glossary\.html$ /transix/faq/glossary/ [R=301,L]

# /transix/bandwidth/から/transix/features/#feature04へのリダイレクト
RewriteRule ^transix/bandwidth/$ /transix/features/#feature04 [R=301,L,NE]

# BEGIN WordPress
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]

RewriteRule ^([_0-9a-zA-Z-]+/)?files/(.+) wp-includes/ms-files.php?file=$2 [L]

RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^([_0-9a-zA-Z-]+/)?(wp-(content|admin|includes).*) $2 [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(.*\.php)$ $2 [L]
RewriteRule . index.php [L]
# END WordPress
