/* themeColor
-----------------------------*/
$theme-color:#2E3E96;
$point-color01:#c6171e;
$point-color02:#67B0FA;

/* fontFamily
-----------------------------*/
$font-jp:'Noto Sans JP',sans-serif;
$font-en:"Heebo", sans-serif;